form>button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(25, 72, 159);
    justify-content: center;
    margin-right: 20px;
    border: none;
    color:white;
    font-size: 1rem;
}